.container {
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;

    border: 1px solid #fff;
    border-radius: 5px;
    /* background: #f00; */
}

.game {
 
}

.board {
    border-radius: 5px;
    /* background-color: #fff; */
    overflow: hidden;
    margin: 20px;

    display: grid;
    grid-template-columns: 2fr repeat(3, minmax(50px, 2fr)) 2fr;
    grid-template-rows: repeat(3, minmax(75px, 1fr));
}

.gametype {
    text-align: left;
    height: 54px;

    /* background-color: cadetblue; */
}

.options {
    /* background-color: aqua; */
    margin: 0px 20px 20px 0px;
}

.optionButtons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    
    gap: 10px;
    /* background-color: brown; */
}
 
.optionButtons button {
    padding: 5px;
}

.optionButtons select {
    padding: 5px;
}

.message {
    width: 100%;
}

@font-face {
    font-family: 'RobotoRegular';
    src: url('../fonts/Roboto-Regular.ttf')
}

.playerName {
    font-family: 'RobotoRegular', monospace;
}