.container {
    width: 490px;
    height: 500px;
    display: grid;
    grid-template-columns: 260px 120px;
    border: 1px solid #fff;
    border-radius: 5px;
}

.game {
    height: 330px;
    width: 240px;
    border-radius: 5px;
    background-color: #fff;
    overflow: hidden;
    margin: 20px;

    display: grid;
    grid-template-columns: 80px 80px 80px;
    grid-template-rows: 110px 110px 110px;
}

.gametype {
    text-align: left;
    padding-left: 20px;
    height: 54px;
}

.options {
    height: 330px;
    width: 197px;
    margin: 90px 20px 0px 20px;
}

.optionButtons {
    width: 196px;
    display: grid;
    grid-template-columns: 80px 80px;
}

.optionButtons button {
    height: 30px;
    margin-bottom: 30px;
}

.optionButtons select {
    height: 30px;
    margin: 0px 0px 30px 16px;
    width: 80px;
}

.message {
    width: 490px;
}

@font-face {
    font-family: 'RobotoRegular';
    src: url('../fonts/Roboto-Regular.ttf')
}

.playerName {
    font-family: 'RobotoRegular', monospace;
}