:root {
    --bg-button: #f0f0f0;
    --border-button: solid 10px #36456b;
}

.button {
    font-size: 65px;
    font-weight: bold;
    padding: 0px;
    /* background-color: var(--bg-button); */
    border: none;
    border-right: var(--border-button);
    border-bottom: var(--border-button);
    outline: none;
    text-align: center;
    color: #3358f4;
}

.top-right, .middle-right, .bottom-right {
    border-right: none;
}

.bottom-left, .bottom-middle, .bottom-right {
    border-bottom: none;
}

.button.x {
    /* color: #f00; */
}

.button.o {
    /* color: #00f; */
}