:root {
    --bg-button: #f0f0f0;
    --border-button: solid 10px #36456b;
}

.button {
    display: flex;
    padding: 0px;
    border: none;
    border-right: var(--border-button);
    border-bottom: var(--border-button);
    outline: none;
    justify-content: center;
    align-items: center;
}

.top-right, .middle-right, .bottom-right {
    border-right: none;
}

.bottom-left, .bottom-middle, .bottom-right {
    border-bottom: none;
}

.x {
    width: 10px;
    height: 90px;
    transform: rotate(45deg);
    background-color: #3358f4;
    /* margin-left: 45px; */
}

.x1 {
    width: 10px;
    height: 90px;
    transform: rotate(-45deg);
    background-color: #3358f4;
    margin-left: 0px;
    margin-top: -89px;
}

.o {
    border: 10px solid #3358f4;
    border-radius: 50%;
    width: 80px;
    height: 80px;
}